body {
  color: #314862;
}

section {
  padding: 4.5rem 0 3rem;
}

/* Ações */
#acoes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 2.4rem;
}

.card {
  padding: 20px;
  background: #fff;
  box-shadow: 2px 2px 18px rgb(14 52 54/15%);
  text-align: center;
  border-radius: 2rem;
}
.card:hover {
  background: #2288ff;
  color: #fff;
  transition: 0.4s all linear;
}
.card .bx {
  padding: 10px;
  border-radius: 50%;
  background: #f6f6fe;
  color: #2288ff;
  font-size: 20px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  justify-content: center;
  text-align: center;
}
.newsletter h2 {
  font-family: 1.7rem;
}
.newsletter form {
  background: #fff;
  box-shadow: 2px 2px 18px rgb(14 52 54/15%);
  padding: 6px 10px;
  border-radius: 5rem;
}
.newsletter form input {
  border: none;
  outline: none;
  font-size: 1rem;
}
.newsletter #email-box {
  width: 280px;
}
.newsletter .btn {
  padding: 12px 34px;
  font-weight: 500;
  text-transform: uppercase;
}
/* Home */
#home {
  margin-top: 5rem;
  background-image: url(../img/shore.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 440px;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  padding-left: 35px;
}

#home h1 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Sobre nós */
#sobre-nos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
  gap: 2rem;
}

.section-w-image img {
  border-radius: 2rem 0 2rem 2rem;
}

.section-w-image .content {
  padding-top: 14%;
  line-height: 25px;
}

.section-label {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #2288ff;
  margin-bottom: 6px;
  display: inline-block;
}

/* Nossa solução */
#nossa-solucao {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
  gap: 2rem;
}

/* Pontos */
#pontos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#pontos .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 3rem;
  padding: 0 50px;
  width: 100%;
}

/* Card */
.card-photo {
  background: #fff;
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 2px 2px 18px rgb(14 52 54/15%);
}

.card-photo:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}

.card-photo img {
  border-radius: 1rem;
  height: 220px;
  object-fit: cover;
  object-position: center;
}

.card-photo p {
  margin: 10px 0;
  font-weight: bold;
}

.card-photo .row {
  justify-content: space-between;
}

.card-photo .row > span {
  font-weight: bold;
}

.card-photo .content {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
