@media (max-width: 1080px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 880px) {
  section {
    padding: 4rem 0 3rem;
  }
  .pontos-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1rem;
    padding: 0 10px;
  }
  footer.footer .container {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1rem;
  }
  .login {
    grid-template-columns: 0.6fr 1fr;
  }
}

@media (max-width: 768px) {
 

  #hamburger-menu + .hamburger-menu-icon {
    display: initial;
  }

  .nav-items {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #192f6a;
    clip-path: circle(0% at 100% 1%);
    transition: 0.6s;
    padding: 40px;
  }

  .nav-items > .item a {
    border-radius: 30px;
    margin: 0;
    display: block;
    color: #fff;
    transition: 0.2s;
  }

  .nav-items > li + li {
    margin-top: 40px;
  }

  .nav-items > .item a:hover {
    color: #2288ff;
  }

  #hamburger-menu:checked ~ .nav-items {
    clip-path: circle(144% at 100% 1%);
  }

  .about-text span {
    font-size: 0.9rem;
  }

  .about-text h2,
  .heading h2,
  .newsletter h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 638px) {
  .about-text {
    text-align: center;
  }
  .about-img {
    order: 2;
  }
  .login {
    grid-template-columns: 0.8fr 1fr;
  }
  .login {
    margin-top: 3rem;
  }
}

@media (max-width: 572px) {
  .login-image {
    display: none;
  }
  .login {
    justify-content: center;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 442px) {
  .home-text {
    padding-left: 14px;
  }
  .home-text h1 {
    font-size: 1.7rem;
  }
  .about-text h2,
  .heading h2,
  .newsletter h2 {
    font-size: 1.2rem;
  }
  .pontos-container {
    padding: 0;
  }
  .newsletter #email-box {
    width: 140px;
  }
  footer.footer {
    border-radius: 3rem 0 0 0;
  }
}
